# Node
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# VSCode
.vscode/

# Turborepo daemon logs
*.log

# Turborepo
.turbo/


# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ---------------------------
# Prisma
# ---------------------------
prisma/dev.db
prisma/migrations/
*.prisma

# Build outputs
dist/
.next/
out/

# Turborepo cache
node_modules/.cache
