# Node
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# VSCode
.vscode/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
.next/
out/

# Turborepo cache
node_modules/.cache
